<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>

{% block container %}
<div class="content-wrap">
    <div class="main">

            {% block header %}
                {% include "::inc/header.html.twig" %}
            {% endblock %}
            {% block body %}
            {% endblock %}

    </div>
</div>
{% endblock %}
{% block footer %}
{% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>