{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid search-container">
        <div class="wrapper">
            <div class="header">
                <div class="va-middle text-center">
                    <h1 class="header-text">
                        Būrelių paieška
                    </h1>
                </div>
            </div>
            <div class="control">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        {% form_theme form '@App/form/IndexSearchFields.html.twig' %}
                        {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}
                            {{  form_row(form.address, { 'attr': {'oninvalid': "setCustomValidity('Prašome įvesti gyvenamąją vietą')"} }) }}
                            <button type="submit" class="btn btn-default searchbar-submit"><span class="hidden-xs">Ieškoti</span><span class="hidden-sm hidden-md hidden-lg glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
