{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid content-container">
        <h1>Pagrindinis puslapis</h1>
        <hr/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia turpis ornare vestibulum elementum. Phasellus commodo, nunc id interdum ultricies, sapien odio molestie tortor, quis viverra justo lorem nec ligula. In ut dignissim ipsum, a eleifend est. Nulla nec velit augue. Nulla posuere mauris at placerat ultricies. Aliquam pulvinar sit amet ante et placerat. Fusce scelerisque egestas arcu, sed bibendum nisi semper tempor. Pellentesque eleifend dolor facilisis, blandit quam id, tincidunt velit. Praesent orci nulla, sodales a dolor a, efficitur tristique ex. Nullam sodales nec purus et condimentum. Suspendisse posuere semper nulla eget rutrum.

        Curabitur viverra nunc ac eros euismod pellentesque. Sed non lacus laoreet, ornare sem lobortis, sodales ipsum. Praesent cursus non tellus sed vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus nunc, quis ultrices purus ultricies eu. Sed cursus dolor arcu, ac porta sem tristique eget. Maecenas finibus vel metus dignissim vulputate. Nam eu nulla sed nunc interdum faucibus fermentum eu enim. Etiam condimentum mollis ultricies. Fusce dignissim auctor augue.

        Vivamus id arcu auctor, placerat enim scelerisque, vestibulum enim. Donec non nisl finibus, scelerisque mi in, aliquet nisl. Sed eleifend non turpis quis bibendum. Praesent semper consequat diam non tincidunt. Cras justo purus, sagittis vitae est id, viverra consectetur ipsum. Nullam sagittis velit leo, vitae faucibus orci sollicitudin id. Phasellus vehicula placerat vulputate. Fusce in neque semper, imperdiet nulla sed, dignissim orci. Aenean nec rhoncus dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent aliquet, enim vitae elementum efficitur, felis nisl dictum leo, auctor dapibus sapien ante sodales nibh.

        Suspendisse eu neque sem. Aliquam porttitor malesuada diam, quis vulputate justo blandit eget. Ut enim ex, rutrum et tristique ut, tempor vel magna. Aliquam sed sapien vehicula lacus suscipit consectetur. Mauris ligula ex, bibendum sed semper at, interdum eget diam. Suspendisse tincidunt metus vitae suscipit sollicitudin. Quisque faucibus est elit, ac molestie massa pretium eu. Cras malesuada quam felis, sed euismod est porttitor sed. Curabitur quis nisi tortor. Duis nisi ante, ultricies at fringilla in, rutrum et est. In non diam facilisis, iaculis quam sed, elementum tellus. Fusce accumsan, odio id finibus molestie, massa odio rutrum libero, sed rhoncus dui odio ut nunc.

        Cras feugiat ac augue ut mollis. Duis nunc purus, ultrices sit amet vehicula molestie, placerat nec lacus. Duis elit enim, cursus at vulputate et, ornare eleifend urna. Proin sed justo arcu. Nulla tristique sapien quis mauris finibus, sit amet maximus justo tempus. Quisque vulputate auctor pretium. Vivamus eu risus semper, gravida mauris sit amet, aliquam ex. Proin congue dapibus nunc vitae mattis. Fusce vehicula libero id mollis viverra.
    </div>
{% endblock %}
