{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid" id="content-container">
        <h1>Prisijungimo puslapis</h1>
        <hr/>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia turpis ornare vestibulum elementum. Phasellus commodo, nunc id interdum ultricies, sapien odio molestie tortor, quis viverra justo lorem nec ligula. In ut dignissim ipsum, a eleifend est. Nulla nec velit augue. Nulla posuere mauris at placerat ultricies. Aliquam pulvinar sit amet ante et placerat. Fusce scelerisque egestas arcu, sed bibendum nisi semper tempor. Pellentesque eleifend dolor facilisis, blandit quam id, tincidunt velit. Praesent orci nulla, sodales a dolor a, efficitur tristique ex. Nullam sodales nec purus et condimentum. Suspendisse posuere semper nulla eget rutrum.

        Curabitur viverra nunc ac eros euismod pellentesque. Sed non lacus laoreet, ornare sem lobortis, sodales ipsum. Praesent cursus non tellus sed vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus nunc, quis ultrices purus ultricies eu. Sed cursus dolor arcu, ac porta sem tristique eget. Maecenas finibus vel metus dignissim vulputate. Nam eu nulla sed nunc interdum faucibus fermentum eu enim. Etiam condimentum mollis ultricies. Fusce dignissim auctor augue.

    </div>
{% endblock %}