// Misc. variables
$footer-height: 65px;
$navbar-height: 60px;

// Search container variables
$search-container-sm-height: 480px;
$search-container-md-height: 600px;

// Media queries
$media-query-md: 768px;
