<div class="container-fluid" id="footer-container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <div class="col-xs-10 col-xs-offset-1">
                <b>Kontaktai:</b><br/>
                Elektroninis paštas: admin@gokid.lt
            </div>
        </div>
        <div class="col-xs-3">
            <div class="col-xs-10 col-xs-offset-1">
                <b>Socialiniai tinklai:</b><br/>
                <a>Facebook</a>
                <a>Twitter</a>
            </div>
        </div>
    </div>
</div>