// Fix navbar body overlap
//body {
//  padding-top: 50px;
//}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}

* {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

// Footer fix
body,
html {
  height: 100%;
  background-color: #f9f9f9;
}

body {
  background-color: #f9f9f9;
}

.ui-widget-content {
  background: none;
}
