// Navbar overrides
.navbar-default {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  z-index: 10;
  border-radius: 0;

  .navbar-brand {
    color: $darkest;
    padding: 14px 15px;
  }

  .navbar-brand:hover {
    color: $neutral;
  }

  .navbar-toggle,
  .navbar-toggle:hover,
  .navbar-toggle:focus,
  .navbar-toggle:active {
    border-width: 0;
    background-color: $neutral;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle.collapsed .icon-bar {
    background-color: $darkest;
  }

  .navbar-toggle.collapsed {
    background-color: transparent;
  }
}

.navbar-default .navbar-toggle,
.navbar.transparent .navbar-toggle {
  border-radius: 3px;
  border-width: 0;
}

.navbar.transparent {
  border-width: 0;
  position: absolute;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;

  li>a {
    color: #fff;
    transition: color 0.5s ease;
  }

  li>a:hover,
  li>a:active,
  li>a:focus {
    background: transparent;
    color: $neutral;
  }

  .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .navbar.transparent {
    background-color: rgba(0, 0, 0, 0.25);
  }
}