h1{
  margin-bottom: 50px;
}

.detailsContainer{
  background-color: white;
  border: thin;
  border-color: black;

  p{
    margin-left: 10px;
  }

  div{
    border-bottom: thin;
    border-bottom-style: inset;
    margin-top: 10px;
  }

  .userInfo{
    margin-left: 70px;
  }
}

.similarOffers{
  margin-top: 100px;
  border-top: thin;
  border-top-style: inset;

  h3, h4, p{
    margin-left: 10px;
  }
}
