.offers {
  padding-top: 20px;

  h2 {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 700;
    font-family: Arial;
    color:#65C04C;
  }

  h5 {
    margin-bottom:20px;
  }

  a {
    color: inherit;
  }

  .offer {
    overflow: hidden;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
  }

  .offer-inner {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.075);
  }

  .offer-content {
    padding-top: 32px;
    color: #ababab;
    font-size: 14.95px;
    padding: 16px;
    font-weight: 400;
  }

  .offer-rating {
    border: 2px solid #65C04C;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 30px;
  }

  .offer-activity {
    padding-left:5px;
  }

  .offer-price {
    font-weight: 700;
    float:right;
    padding-right:15px;
  }

  .offer-location {
    float:right;
    color:#65C04C;
  }

  .offer img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .offer:hover img {
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
  }

  .map {
    width: 100%;
    height: 80vh;
  }

  .marker-content {
    color: #ababab;
    font-size: 14.95px;
    font-weight: 400;
    overflow: hidden;
  }

  .marker-infowindow{
    margin: 0;
    width: 260px;
    height: auto;
  }

  .marker-infowindow .name {
    font-size: 18px;
    color:#565a5c;
    padding-top:10px;
  }

  .marker-infowindow .image {
    position:relative;
  }

  .marker-infowindow .image .price {
    background-color: rgba(60,63,64,0.9);
    color:#fff;
    left: 0;
    bottom:0;
    padding: 7px 10px;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
  }

  .marker-infowindow .offer-rating {
    padding:3px 0 0 0 !important;
    float:right;
  }
  .marker-infowindow .offer-activity {
    padding-top: 4px;
    display: inline-block;
  }

  .marker {
    display: none !important;
  }
}

.offers-filter {
  position: relative;
  background-color: #fff;
  padding: 20px 30px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);

  .locate-select{
    padding-left:0;
    position: relative;
    @media screen and (max-width: $media-query-md) {
      padding-right:0;
    }
  }

  .locate-me{
    z-index:1;
    right: 17px;
  }

  .age{
    float:left;
    font-weight:bold;
    height: 42px;
    padding: 10px 15px 10px 30px;
  }
  .location-select{
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #777;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width:100%;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    margin-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
  }
}