.owl-carousel {
  margin-top: -19px;

  img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
}

.top-section {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 25px 0 20px 0;
  position: relative;
  margin-bottom: 35px;

  .bc,
  .address {
    color: #808080;
    font-size: 16px;
  }

  h2 {
    color: #65c04c;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 16px;
    color: #808080;
    padding-bottom: 20px;
  }

  .glyphicon {
    width: 16px;
  }

  .info div {
    padding-bottom: 5px;
  }

  .mail,
  .phone {
    color: #333;
  }
}

.side-block {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.075);
  padding: 15px;
}

.middle-block {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.075);
  padding: 25px;
  line-height: 2;
}

.map-block {
  margin-top: -235px;
}

.map-details {
  height:250px;
  width:100%;
}

.review-block {
  padding: 15px 0;
}

.reviews {
  font-size: 16px;
  color: #606060;
  font-weight: 700;
}

.review {
  color: #606060;

  .user {
    font-weight: 700;
    font-size: 15px;
  }

  .topic {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
  }

  .rating {
    padding-bottom: 10px;
  }

  .stars {
    font-size: 25px;
    display: inline-block;

    span {
      display: inline-block;
      position: relative;
      width: 1.1em;
      color: gold;
    }

    span:after {
      content: "\2605";
    }

    .selected ~ span:after {
      content: "☆";
      color: #606060;
    }
  }

  .stars > .selected,
  .stars > .selected ~ span {
    color: gold;
  }

  .date {
    color: #909090;
  }

  .text {
    line-height: 1.7;
  }
}

@media (max-width: 991px) {
  .map-block {
    margin-top: 35px;
  }
}