// Search interface

$search-container-sm-height: 480px;
$search-container-md-height: 600px;

.search-container {
  padding: 0;
  background-color: $darkest;
  background-image: url('/images/search-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .wrapper {
    margin-top: $navbar-height;
    padding-bottom: 94px;
    position: relative;
  }

  .header {
    height: 100%;
    width: 100%;
    display: table;
  }

  .header-text {
    font-size: 48px;
    color: #fff;
  }

  .control {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@media screen and (max-width: 767px) {
  .search-container {
    height: $search-container-sm-height;

    .wrapper {
      height: $search-container-sm-height - $navbar-height;
    }
  }
}

@media screen and (min-width: 768px) {
  .search-container {
    height: $search-container-md-height;

    .wrapper {
      height: $search-container-md-height - $navbar-height;
    }
  }
}
