// Search interface

$search-container-sm-height: 480px;
$search-container-md-height: 600px;

.search-container {
  padding: 0;
  background-color: $darkest;
  background-image: url('../images/search-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .wrapper {
    margin-top: $navbar-height;
    padding-bottom: 94px;
    position: relative;
  }

  .header {
    height: 100%;
    width: 100%;
    display: table;
  }

  .header-text {
    font-size: 48px;
    color: #fff;
  }

  .control {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .form-group {
    margin: 0;
  }

  .searchbar-submit {
    border-width: 0;
    height: 44px;
    float: left;
    width: 20%;
    background-color: $neutral;
    color: #fff;
    border-radius: 0 2px 2px 0;
  }

  .searchbar-submit:hover {
    background-color: $lightest;
    color: $darkest;
  }

  .searchbar-submit:focus {
    outline: none;
  }

  .searchbar-submit:active {
    box-shadow: none;
    background-color: $dark;
    color: #fff;
  }

  .searchbar-input {
    height: 44px;
    box-shadow: none;
    border-radius: 2px 0 0 2px;
    z-index: 3;
  }

  .searchbar-input:focus {
    border-color: #ccc;
  }

  .location-error {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $lightest;
    padding: 2px 5px;
    margin-top: -1px;
    border-radius: 0 0 2px 2px;
  }

  .searchbar-wrapper {
    float: left;
    width: 80%;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .search-container {
    height: $search-container-sm-height;

    .wrapper {
      height: $search-container-sm-height - $navbar-height;
    }
  }
}

@media screen and (min-width: 768px) {
  .search-container {
    height: $search-container-md-height;

    .wrapper {
      height: $search-container-md-height - $navbar-height;
    }
  }
}
